<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Social BookMarking Site</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  </head>
  <body>
    <div id="root">

      <script src="dist/bundle.js"></script>

    </div>
  </body>
</html>
